<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.delaroystudios.roomcontentprovider">

    <permission android:name="com.delaroystudios.roomcontentprovider.provider.READ_WRITE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContentProviderSample"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.delaroystudios.roomcontentprovider.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.delaroystudios.roomcontentprovider.provider.SampleContentProvider"
            android:authorities="com.delaroystudios.roomcontentprovider.provider"
            android:exported="true"
            android:permission="com.example.android.contentprovidersample.provider.READ_WRITE"/>

    </application>

</manifest>
